$sizes: (2.5, 2, 1.75, 1.5, 1.25, 1);

$i: 0;
@each $size in $sizes {
  $i: $i + 1;

  .h#{$i} {
    font-size: #{$size}rem;
    letter-spacing: 2px;
    font-weight: bold;
    margin: #{($size * 2) + 5}px 5px;

    &.center {
      text-align: center;
    }
  }
}

.primary-button {
  border: none;
  outline: none;
  color: rgb(var(--color-1));
  background-color: rgba(var(--color-1), 0.1);
  padding: 7px 15px;
  border-radius: 20px;
  font-size: 15px;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;

  &:active {
    transform: scale(0.95);
  }
}
