@import "../page";

.input {
  flex: 1;
}

.primary-button {
  margin: 0 auto;
  margin-top: 20px;
}

.logo {
  margin: 0 auto;
  margin-top: -80px;
  height: 130px;
  width: 130px;
  background-color: rgb(var(--color-1));
  mask-image: url("../../../assets/images/icons8-qbittorrent.svg ");
  mask-size: 100% 100%;
}
